:root {
    --primary: #a87c50;
    --secondary: #d9c3b0;
    --accent: #8c5e37;
    --light: #f5f1ec;
}

.forgot-password-container {
    background: var(--light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.forgot-password-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--accent);
}

.forgot-password-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--accent);
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
}

.forgot-password-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--accent);
}

.forgot-password-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    background-color: white;
}

.forgot-password-container button {
    padding: 10px;
    font-size: 16px;
    color: var(--light);
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password-container button:hover {
    background-color: var(--accent);
}

.forgot-password-container .back-to-signin {
    margin-top: 15px;
}

.forgot-password-container .back-to-signin a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

.forgot-password-container .back-to-signin a:hover {
    text-decoration: underline;
    color: var(--accent);
}